@media screen and (max-width: 960px) {
   #MR{
        display: none;
        background-image: url(imagenes/vpp.png);
    }
    img#img{
        display: flex;
        width: 80%;
    }
    #vs{
        clear: both;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    #Fondo{
        background-image: none;
    }
    #a, #b, #c{
        background-image: none;
        border: none;
        margin: 0%;
        padding: 5%;
        width: 100%;
    }
    .a, .b, .c{
        width: 100%;
    }
}
